tool-panel {
    #menu {
        border-radius: 24px;
        flex-wrap: nowrap;
        max-height: 80%;

        &:not([visible]),
        #upload-template {
            display: none;
        }

        #temp-colors {
            height: 350px;
            overflow-y: auto;

            .tc-row {
                align-items: center;
                display: grid;
                gap: 8px;
                grid-template-columns: 24px 1fr 120px;

                &.tc-header span {
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 1;
                }

                .tc-col {
                    align-items: center;
                    display: flex;
                    gap: 8px;

                    .tc-toggle {
                        color: var(--color-primary);
                    }
                }

                &:not(.enabled) {
                    opacity: 0.5;

                    .tc-toggle {
                        color: oklab(0.41886 -0.0129798 -0.051386 / 0.8);
                    }
                }

                .tc-col.px-cnt {
                    justify-content: end;
                }
            }

            .temp-color {
                align-items: center;

                .color-sm {
                    --size: calc(var(--size-field, 0.25rem) * 6);
                    border-width: var(--border);
                    height: var(--size);
                    width: 24px;
                }
            }
        }

        #bg-section {
            align-self: center;
            display: flex;
            justify-content: space-between;
            width: 100%;

            .btn {
                color: hsl(214deg 30% 32%);
            }
        }
    }
}

focus-toggle button.enabled {
    color: var(--color-primary);
}
